.box {
  height: 200px;
  width: 200px;
  border: 6px solid black;
  margin: auto;
  background: green;
  /* display: flex; */
}

.boxes {
  height: 200px;
  width: 200px;
  border: 6px solid black;
  margin: auto;
  background: yellow;
  /* display: flex; */
}
